# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
.next
out
build
*.tsbuildinfo

# Environment files
.env
.env.local
.env.*.local
!.env.example

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

# Turbo
.turbo

# Coverage
coverage

# Prisma
apps/api/prisma/migrations/*.sql

# Compiled package artifacts
packages/ui/src/**/*.js
packages/ui/src/**/*.js.map
packages/ui/src/**/*.d.ts
packages/ui/src/**/*.d.ts.map
packages/types/src/**/*.d.ts
packages/types/src/**/*.d.ts.map
apps/api/prisma/seed.js
apps/api/prisma/seed.js.map
apps/api/prisma/seed.d.ts
apps/api/prisma/seed.d.ts.map
